<!DOCTYPE html>
<html>
<head>
	<title>About Alpha-Blog</title>
</head>
<body>
	<h1> Tell us more about Alpha Blog. Seems like an interesting site</h1>
	<%= link_to 'Home' , root_path %>
</body>
</html>